# Notification Service — Environment Variables
NODE_ENV=development
LOG_LEVEL=debug
SERVICE_NAME=notification-service
PORT=3004
RAILWAY_ENVIRONMENT=dev

AWS_ACCESS_KEY_ID=<your-aws-access-key-id>
AWS_SECRET_ACCESS_KEY=<your-aws-secret-access-key>
AWS_REGION=us-east-1

# SES verified sender address
AWS_SES_FROM_EMAIL=noreply@yourdomain.com

FEATURE_FLAGS_PROVIDER=static
LAUNCHDARKLY_SDK_KEY=<your-launchdarkly-sdk-key>
